.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

h1 {
  boder-bottom: 1px solid #000;
  text-transform: capitalize;
}

p {
  font-size: 2rem;
}

p span {
  color: black;
}
