/* General */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  line-height: 1.5;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

/* Reset */
a {
  color: currentColor;
  text-decoration: none;
}

/* Logo */
#logo {
  padding: 0.5rem;
  background: #ddd;
  font-size: 2rem;
  line-height: 1;
}

#logo a {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: flex-end;
}

#logo img {
  width: 45px;
}

/* Navbar */

nav {
  padding: 1.3rem;
  background: #444;
  color: #fff;
  font-size: 1rem;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  text-transform: capitalize;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul a {
  transition: all 0.2s;
  padding: 0.375rem 0.725rem;
  border-radius: 0.3rem;
}

nav ul a:hover,
nav ul a.active {
  background: #ddd;
  color: #444;
}

/* Container */
.container {
  display: flex;
}

/* Profile details section */
aside#profile-details {
  flex: 1 0 25%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: auto;
  background: #333;
  color: #fff;
  padding: 2rem;
  display: none;
}

aside#profile-details form {
  padding: 1rem;
  border: 1px solid #ddd;
  text-align: center;
}

aside#profile-details form input {
  margin-bottom: 1rem;
  width: 100%;
  padding: 0.375rem 0.725rem;
  background: transparent;
  border: 1px solid #ddd;
  border-radius: 0.2rem;
}

aside#profile-details .social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}

aside#profile-details .social-links h4 {
  margin: 0;
}

/* Main Section */
main {
  flex: 1 1 50%;
}

/* News Section */
aside#news {
  flex: 1 0 25%;
  overflow-y: auto;
  background: #333;
  color: #fff;
  padding: 2rem;
  display: none;
}

aside#news .img-wrapper {
  padding-bottom: 1rem;
  border-bottom: 1px solid;
}

/* Footer */
footer {
  margin-top: auto;
  height: 3rem;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Utilities */
.start {
  text-align: start;
}

.end {
  text-align: end;
}

.center {
  text-align: center;
}
